.gradle/
.kotlin/
local.properties
.android-sdk/
build/
app/build/
keystore.properties
signing/
*.jks
*.keystore
*.apk
pixiv_works_52071916_p0.png
app/src/main/res/drawable/ic_launcher_foreground.png

.superpowers/
